.btn {
  border: 0.5px solid #2d0c03;
  border-radius: 2px;
  padding: 10px 24px;
  background: #fffefd;
  box-shadow: 2px 2px 0px 2px rgba(0, 0, 0, 1);

  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #2d0c03;
}
.btn:hover {
  background: linear-gradient(135deg, #ffe1be 0%, #ffa391 100%);
}
